@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$primary-color: #801815 ;
$white-color: #fff;
$grey-color: #ededed ;
$orange-color: #ce6b00 ;
$green-color: #4f7a2d ;
$blue-color: #006f9b ;
$black-color: #000;
$dark-grey-color: #6d6e70 ;
$link-color: #009bdb ;

//FONT-SIZE
$text-size: 18px;
$title-size: 24px;
$header-size: 48px;
$important-size: 36px;
$slide-size: 60px;

//FONT-FAMILY
$bold-font: 'open_sansbold';
$regular-font: 'open_sanslight';
$italic-font: 'open_sanslight_italic';


body{
	background-color:#FAFAFA;
	h2{
		color:$orange-color;
	}
	#map{
		height:500px;
	}
}